.search{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 0px;
    background-color: rgb(39, 43, 51);;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.search_text{
    width: 500px;
    height: 30px;
    font-size: 25px;
    border-radius: 15px;
    padding-left: 10px;
}
.btn{
    width: 100px;
    border-radius: 15px;
    height: 37px;
    color: aqua;
    background-color: blue;
    margin-left: 5px;
}
.search_none{
    display: none;
}
.search_name{
    color: white;
}

@media(max-width:665px){
    .search_div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:540px){
    .search_text{
        width: 300px;
    }
}

@media(max-width:350px){
    .search_text{
        width: 250px;
    }
}