.header{
    background-image: url('../img/Rick_and_Morty.jpg');
    max-width: 1920px;
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_text{
    color: white;
    font-size: 100px;
}
.main{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 43, 51);
    flex-wrap: wrap;
    padding: 80px 0px;
}
.circle{
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background-color: lightgreen;
}
.main_info_style{
    font-size: 27px;
    color: white;
    margin-bottom: 5px;
}
.main_info_style_sub{
    display: flex;
    align-items: center;
    color: white;
}
.item{
    display: flex;
    border-radius: 5px;
}
.main_info{
    padding-left: 10px;
    width: 300px;
    background-color: rgb(32, 35, 41);
    height: 220px;
}
.main_info_style_sub2{
    color: gray;
    margin-bottom: 5px;
}
.main_info_style_sub3{
    color: white;
    margin-top: 5px;
}
.circle{
    width: 9px;
    height: 9px;
    border-radius: 9px;
    margin-right: 5px;
}
.orange_color:hover{
    cursor: pointer;
    color: orange;
}
.main_img_560{
    width: 220px;
    height: 220px;
    background-size: cover;
}

@media (max-width: 560px){
    .item{
        display: block;
    }
    .main_img_560{
        width: 300px;
    }
    .main_info{
        margin-top: 0px;
        width: 290px;
    }
    .main_info_style{
        margin-top: 0px;
    }
}