a{
    color: inherit  !important;
    text-decoration: none !important;
    font-size: inherit;
}
body{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_div_1{
    display: flex;
    width: 490px;
    justify-content: space-between;
}
.nav_style{
    font-size: 30px;
    padding: 9px 18px;
    margin-bottom: 10px;
}
.nav_style_box{
    border: 1px solid red;
    border-radius: 10px;
}
.nav_style_box:hover{
    border: 1px solid orange;
}
.footer_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(32, 35, 41);
    padding: 81px 0;
}
.footer_style_sub{
    color: rgb(158, 158, 158);
    font-size: 0.75rem;;
}
.footer_style{
    display: flex;
    gap: 10px;
}
.footer_style_2{
    display: flex;
    gap: 10px;
    align-items: center;
}
.circle2{
    width: 9px;
    height: 9px;
    background-color: chartreuse;
    border-radius: 10px;
}
.footer_img{
    border-radius: 30px;
}
.footer_style_3{
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer_style_sub_last{
    color: white;
    border-bottom: 1px solid orange;
}
.nav_style,.orange_color_2,.orange_color_3,.change_img_1,.change_img_2,.change_img_3:hover{
    cursor: pointer;
}
.orange_color_2:hover, .orange_color_3:hover{
    color: orange;
}
.orange_color_3:hover{
    color: orange;
    border: 0px;
}
.change_img_1:hover{
    background: orange;
}
.display_560{
    display: none;
}







@media (max-width: 685px){
    .display_560{
        display: block;
    }
    .nav_div_1{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 60px;
        background-color: white;
        width: 150px;
        transition: 0.5s;
        left: -150px;
    }
    .nav_style{
        font-size: 20px;
    }
    .nav_style_box{
        width: 100px;
    }
}