.main_support{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.support_text{
    max-width: 780px;
    margin-bottom: 60px;
}
.style_main{
    font-weight: 800;
    text-rendering: optimizeLegibility;
    font-size: 3rem;
    line-height: 1.1;
}
p{
    font-size: 25px;
}